<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="etr.android.reamp">

    <application android:theme="@style/Theme.AppCompat">

        <activity android:name=".mvp.TestMvpActivity" android:exported="true"/>
        <activity android:name=".mvp.SimpleAppCompatActivity" android:exported="true"/>

    </application>

</manifest>
